.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link { text-decoration: none; }
.stl_ a:visited { text-decoration: none; }

@media screen and (min-device-pixel-ratio:0),
(-webkit-min-device-pixel-ratio:0),
(min--moz-device-pixel-ratio:0) {
	.stl_view {
		font-size: 10em;
		transform: scale(0.1);
		-webkit-transform: scale(0.1);
		-webkit-transform-origin: top left;
		/* Removed -moz- properties (invalid in EPUB) */
	}
}

.stl_layer { }
.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }

@media print {
	.stl_view {
		font-size: 1em;
		transform: scale(1);
	}
}

.stl_grlink {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1000000;
}

.stl_01 {
	position: absolute;
	white-space: nowrap;
}

.stl_02 {
	font-size: 1em;
	line-height: 0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) {
	.stl_02 {
		overflow: hidden;
	}
}

.stl_03 {
	position: relative;
	width: 49.58333em;
}

.stl_04 {
	height: 7.008333em;
}

.stl_ie .stl_04 {
	height: 70.08334em;
}

@font-face {
	font-family: "OHAHAM+Arial Bold";
	src: url('../fonts/fc8b0741-0001-0000-0000-000000000000.woff');
}

.stl_05 {
	font-size: 1.166667em;
	font-family: "OHAHAM+Arial Bold";
	color: #000000;
}

.stl_06 {
	line-height: 1.117187em;
}

.stl_07 {
	letter-spacing: 0em;
}

.stl_ie .stl_07 {
	letter-spacing: 0.0002px;
}

.stl_08 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_08 {
	letter-spacing: 0.001px;
}

@font-face {
	font-family: "COVQLM+Arial";
	src: url('../fonts/fda77900-0000-0000-0000-000000000000.woff');
}

.stl_09 {
	font-size: 0.916667em;
	font-family: "COVQLM+Arial";
	color: #000000;
}

.stl_10 {
	line-height: 1.117188em;
}

.stl_11 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0015px;
}
